{% extends 'cards/base.html' %}


{% block content %}
<h4>Card detail</h4>
<hr>
<div class="row">

  <div class="col-3">
    <form class="form" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add new task" name="title" maxlength="200" id="id_title">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">+</button>
        </div>
      </div>
    </form>
      <div class="card">
      {% if card.card_image %}
        <img src="{{ card.card_image.url }}" class="card-img-top" alt="...">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          {% if card.description %}
          <p class="card-text text-muted">{{ card.description }}</p>
          {% endif %}
          {% if all_tasks %}
          <div class="progress" style="height: 8px;">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ counter_done  }}%" aria-valuenow="{{ counter_done }}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-warning" role="progressbar" style="width: {{ counter_doing }}%" aria-valuenow="{{ counter_doing }}" aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-danger" role="progressbar" style="width: {{ counter_todo  }}%" aria-valuenow="{{ counter_todo }}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <br>
          {% endif %}
            <a href="{% url 'edit_card' card.id %}" class="btn btn-light button_color">edit</a>
            <a href="{% url 'card_delete' card.id %}" class="btn btn-light button_color">delete</a>
        </div>
      </div>
  </div>
<div class="col-3">
  <a href="#" class="btn btn-danger mb-3 btn-block disabled" tabindex="-1" role="button" aria-disabled="true">To Do</a>

    {% for task in tasks_todo %}
      <h2 class="mb-1">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" type="button"
          style="font-size: 14px;" data-toggle="modal" data-target="#exampleModal{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ task.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ task.id }}">{{ task.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <a href="{% url 'task_doing' task.id %}" class="btn btn-warning">doing</a>
                <a href="{% url 'task_done' task.id %}" class="btn btn-success">done</a>
                <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary">edit</a>
                <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">delete</a>

              </div>
            </div>
          </div>
        </div>
      </h2>
    {% endfor %}
  </div>
<div class="col-3">
  <a href="#" class="btn btn-warning mb-3 btn-block disabled" tabindex="-1" role="button" aria-disabled="true">Doing</a>

    {% for task in tasks_doing %}
      <h2 class="mb-1">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" type="button"
          style="font-size: 14px;" data-toggle="modal" data-target="#exampleModal{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ task.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ task.id }}">{{ task.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <a href="{% url 'task_done' task.id %}" class="btn btn-success">done</a>
                <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary">edit</a>
                <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">delete</a>

              </div>
            </div>
          </div>
        </div>
      </h2>
    {% endfor %}
  </div>
<div class="col-3">
  <a href="#" class="btn btn-success mb-3 btn-block disabled" tabindex="-1" role="button" aria-disabled="true">Done</a>
      {% for task in tasks_done %}
      <h2 class="mb-1">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" type="button"
          style="font-size: 14px;" data-toggle="modal" data-target="#exampleModal{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ task.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ task.id }}">{{ task.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <a href="{% url 'edit_task' task.id %}" class="btn btn-secondary">edit</a>
                <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">delete</a>

              </div>
            </div>
          </div>
        </div>
      </h2>
    {% endfor %}
  </div>
</div>


{% endblock %}
