{% extends 'cards/base.html' %}

{% block tag_title %}todo list{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-3 col-sm-12">
    
    <form class="form" method="POST">
      {% csrf_token %}
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="task name" name="title" maxlength="200" id="id_title">
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit"><i class="fas fa-plus"></i></button>
        </div>
      </div>
    </form>
      <div class="card">
      {% if card.card_image %}
        <img src="{{ card.card_image.url }}" class="card-img-top" alt="...">
      {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          {% if card.description %}
          <p class="card-text text-muted">{{ card.description }}</p>
          {% endif %}
        </div>
      </div>
      {% if all_tasks %}
      <br>
      <div class="progress" style="height: 8px;">
        <div class="progress-bar bg-success" role="progressbar" style="width: {{ counter_done  }}%" aria-valuenow="{{ counter_done }}" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-warning" role="progressbar" style="width: {{ counter_doing }}%" aria-valuenow="{{ counter_doing }}" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-danger" role="progressbar" style="width: {{ counter_todo  }}%" aria-valuenow="{{ counter_todo }}" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      {% endif %}
      <br>
      <div class="btn-group btn-block" role="group" aria-label="Basic example">
        <a href="{% url 'home' %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
        <a href="{% url 'card_edit' card.id %}" class="btn btn-light"><i class="fas fa-pencil-alt"></i></a>
      </div>
      <br>
      <br>
      {% if messages %}
      <div class = "alert alert-info alert-dismissible fade show" role="alert">
         {% for message in messages %}
            {{ message }}
         {% endfor %}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
      <br>
      <br>
  </div>

<div class="col-lg-3 col-sm-12">
  <a href="#" class="btn btn-danger mb-3 btn-block disabled" tabindex="-1" role="button" aria-disabled="true"><i class="far fa-circle"></i> todo</a>
    {% if not all_tasks %}
    <p align="center">... add some tasks</p>
    {% endif %}

    {% for task in tasks_todo %}
      <div class="mb-1">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" type="button"
           data-toggle="modal" data-target="#exampleModal{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ task.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ task.id }}">{{ task.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                
                <div class="btn-group btn-block" role="group" aria-label="Basic example">
                  <a href="{% url 'task_doing' task.id %}" class="btn btn-warning">
                    <i class="fas fa-adjust"></i>
                  </a>
                  <a href="{% url 'task_done' task.id %}" class="btn btn-success">
                    <i class="fas fa-circle"></i>
                  </a>
                  <a href="{% url 'task_edit' task.id %}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                  <a href="{% url 'task_delete' task.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <br>
  </div>
<div class="col-lg-3 col-sm-12">
  <a href="#" class="btn btn-warning mb-3 btn-block disabled" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-adjust"></i> doing</a>

    {% for task in tasks_doing %}
      <div class="mb-1">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" type="button"
          data-toggle="modal" data-target="#exampleModal{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ task.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ task.id }}">{{ task.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="btn-group btn-block" role="group" aria-label="Basic example">
                  <a href="{% url 'task_done' task.id %}" class="btn btn-success">
                    <i class="fas fa-circle"></i>
                  </a>
                  <a href="{% url 'task_edit' task.id %}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                  <a href="{% url 'task_delete' task.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <br>
  </div>
<div class="col-lg-3 col-sm-12">
  <a href="#" class="btn btn-success mb-3 btn-block disabled" tabindex="-1" role="button" aria-disabled="true"><i class="fas fa-circle"></i> done</a>
      {% for task in tasks_done %}
      <div class="mb-1">
        <div class="list-group">
          <a class="list-group-item list-group-item-action" type="button"
          data-toggle="modal" data-target="#exampleModal{{ task.id }}">
            {{ task.title }}
          </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel{{ task.id }}" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel{{ task.id }}">{{ task.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                
                <div class="btn-group btn-block" role="group" aria-label="Basic example">
                  <a href="{% url 'task_edit' task.id %}" class="btn btn-secondary"><i class="fas fa-pencil-alt"></i></a>
                  <a href="{% url 'task_delete' task.id %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    <br>
  </div>
</div>


{% endblock %}
