{% extends 'cards/base.html' %}


{% block content %}
<div class="row">
  <div class="col-md-4">
  <form class="form" method="POST">
    {% csrf_token %}
    <h4>Task edit</h4>
    <hr>
    <input class="form-control" type="text" name="title" value="{{ task.title }}" maxlength="200" id="id_title">
    <br>
    <button class="btn btn-secondary" type="submit">Edit</button>
    <a href="{% url 'card_detail' task.card.id %}" class="btn btn-secondary">Back</a>
  </form>
  </div>
</div>
{% endblock %}
