{% extends 'cards/base.html' %}

{% load static %}

{% block tag_title %}CVRDS{% endblock %}

{% block content %}

<div class="row">
    <div class="col-lg-3 col-md-12">
      {% if not tags %}
        <h2 class="text-center">add first tag</h2>
      {% endif %}
      <form class="form" method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
        {% if not tags %}
          <input type="text" class="form-control" placeholder="tag name" name="title" maxlength="200" id="id_title">
        {% else %}
          <input type="text" class="form-control" placeholder="tag name" name="title" maxlength="200" id="id_title">
        {% endif %}
          <div class="input-group-append">
            <button class="btn btn-secondary" type="submit"><i class="fas fa-plus"></i></button>
          </div>
        </div>
      </form>
      <div class="list-group" id="list-tab" role="tablist" >
      {% for tag in tags %}
        {% if forloop.first %}
          <a class="list-group-item list-group-item-light list-group-item-action active d-flex justify-content-between align-items-center" id="list-{{ tag.id }}-list" data-toggle="list" href="#list-{{ tag.id }}" role="tab" aria-controls="{{ tag.id }}">{{ tag.title }}
          <span><strong>{{ tag.cards.count }}</strong></span>
          </a>
          {% else %}
          <a class="list-group-item list-group-item-light list-group-item-action d-flex justify-content-between align-items-center" id="list-{{ tag.id }}-list" data-toggle="list" href="#list-{{ tag.id }}" role="tab" aria-controls="{{ tag.id }}">{{ tag.title }}
          <span><strong>{{ tag.cards.count }}</strong></span>
          </a>
        {% endif %}
      {% endfor %}
      </div>  
      <br>
      {% if messages %}
      <div class = "alert alert-info alert-dismissible fade show" role="alert">
         {% for message in messages %}
            {{ message }}
         {% endfor %}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endif %}
    </div>
    <div class="col-lg-9 col-md-12">
        {% if tags %}
        <div class="tab-content " id="nav-tabContent">
          {% for tag in tags %}
            {% if forloop.first %}
              <div class="tab-pane fade show active" id="list-{{ tag.id }}" role="tabpanel" aria-labelledby="list-{{ tag.id }}-list">
              <div class="mb-3">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="{% url 'tag_edit' tag.id %}" class="btn btn-secondary">{{ tag.title }}</a>
                  <a href="{% url 'add_card' tag.id %}" class="btn btn-light"><i class="fas fa-plus"></i></a>
                </div>
              </div>
            {% else %}
              <div class="tab-pane fade show" id="list-{{ tag.id }}" role="tabpanel" aria-labelledby="list-{{ tag.id }}-list">
                <div class="mb-3">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'tag_edit' tag.id %}" class="btn btn-secondary">{{ tag.title }}</a>
                    <a href="{% url 'add_card' tag.id %}" class="btn btn-light"><i class="fas fa-plus"></i></a>
                  </div>
                </div>
            {% endif %}
              <div class="card-columns">
                {% for card in tag.cards.all %}
                  <div class="card">
                  {% if card.card_image %}
                    <img src="{{ card.card_image.url }}" class="card-img-top" alt="...">
                  {% endif %}
                    <div class="card-body">
                      <a href="{% url 'card_detail' card.id %}" class="btn btn-lg btn-block btn-light">
                        {{ card.title }}
                      </a>
                    </div>
                  </div>
                {% endfor %}
              </div>
              </div>
            {% endfor %}
            </div>
          </div>
        {% else %}
        <h2 class="text-center">how to use</h2>
        {% include 'cards/slide.html' %}
        {% endif %}
    </div>
</div>
{% endblock %}