{% extends 'cards/base.html' %}


{% block content %}
<div class="row">
  <div class="col-md-4">
	<form class="form" method="POST">
		{% csrf_token %}
		<p>
			<label for="id_title">Tag edit:</label>
			<input class="form-control" type="text" name="title" value="{{ tag.title }}" maxlength="200" id="id_title">
		</p>
		<div class="btn-group btn-block" role="group" aria-label="Basic example">
			<button class="btn btn-sm btn-secondary" type="submit">Edit</button>
			<a href="{% url 'home' %}" class="btn btn-sm btn-outline-secondary">Back</a>
			<a href="{% url 'tag_delete' tag.id %}" class="btn btn-sm btn-outline-secondary">Delete</a>
		</div>	
	</form>
	</div>
</div>

{% endblock %}
