
{% extends 'cards/base.html' %}


{% block content %}
<div class="row">
  <div class="col-lg-4 col-sm-12">
  <form class="form" method="POST">
    {% csrf_token %}
    <h2 class="text-center">tag delete</h2>
    <hr>
    <p>do you really want to delete the "<strong>{{ tag.title }}</strong>" tag?</p>
    <div class="btn-group btn-block" role="group" aria-label="Basic example">
      <a href="{% url 'tag_edit' tag.id %}" class="btn btn-secondary"><i class="fas fa-arrow-left"></i></a>
      <button class="btn btn-danger" type="submit"><i class="fas fa-trash"></i></button>
    </div>
  </form>
  </div>
</div>
{% endblock %}